
.card-content {
    margin-left: 20%;
    margin-right: 20%;
}

@media (max-width: 1200px){
    .card-content {
        margin-left: 10%;
        margin-right: 10%;
    }
    
}
@media (max-width: 800px){
    .card-content {
        margin-left: 5%;
        margin-right: 5%;
    }
    
}