<div class="content">
  <div class="container">
    <h2>Resumen de Datos</h2>

    <div class="info-container">
      <p><strong>Nombre:</strong> {{ datos?.nombre }}</p>
      <p><strong>Apellido:</strong> {{ datos?.apellido }}</p>
      <p><strong>País:</strong> {{ datos?.pais }}</p>
      <p><strong>Dirección:</strong> {{ datos?.direccion }}</p>
      <p><strong>Tarjeta:</strong> {{ datos?.creditCard }}</p>
      <p><strong>CVC:</strong> {{ datos?.cvc }}</p>
      <p><strong>Fecha de Vencimiento:</strong> {{ datos?.fechaDeVencimiento }}</p>
      <p><strong>Email:</strong> {{ datos?.email }}</p>
      <p><strong>Total:</strong> {{ datos?.total | currency }}</p>
    </div>

    <ion-button (click)="onClick()" expand="block">Regresar</ion-button>
  </div>
</div>
