

ion-card {
    min-height: 650px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: transform 0.3s ease;
}

.card2{
    min-height: 300px !important; 
}

ion-card:hover{
 transform: scale(1.05);   
}


.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    & .img {
        height: 300px;
        padding-bottom: 20px;
    }
}

.info-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    & .description{
        padding: 1% 2% 1% 2% ;
        text-align: justify;
    }

    & strong{
    font-weight: bold;
    font-size: 19px
    }

    & p{
        margin-top: 5px;
        font-size: 20px;
    }
}

@import '~@fortawesome/fontawesome-free/css/all.min.css';

.stars {
    background: linear-gradient(45deg, #CDA434, #E6BE55, #FFD700, #E6BE55, #CDA434);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
  }
  

